<div>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Buscar artículos"
      (input)="onSearch()"
    />
  </div>
  
  <div *ngFor="let article of articles" class="article">
    <h3>{{ article.name }}</h3>
    <img [src]="article.imageUrl | defaultImage" alt="{{ article.name }}" />
    <p>Precio: {{ article.price | priceFormat }}</p>
    <p>Cantidad: {{ article.quantity }}</p>
    <button (click)="increaseQuantity(article)">+</button>
    <button (click)="decreaseQuantity(article)">-</button>
  </div>
  
  
  